@{
	ViewData["Title"] = "Personal Experience";
}


<!-- intro section
=============================================	`===== -->
<section id="intro">

	<div class="intro-overlay"></div>

	<div class="intro-content">
		<div class="row">

			<div class="col-twelve">

				<h5>Hello, World.</h5>
				<h1>I'm Favour Olanipekun.</h1>

				<p class="intro-position">
					<span>DotNet Developer</span>
					<span>Software Engineer</span>
				</p>

				<a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

			</div>

		</div>
	</div> <!-- /intro-content -->

	<ul class="intro-social">
		<li><a href="#"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#"><i class="fa fa-behance"></i></a></li>
		<li><a href="#"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
		<li><a href="#"><i class="fa fa-instagram"></i></a></li>
	</ul> <!-- /intro-social -->

</section> <!-- /intro -->
<!-- resume Section
================================================== -->

<section id="resume" class="grey-section">

	<div class="row section-intro">
		<div class="col-twelve">

			<h5>Resume</h5>
			<h1>More of my credentials.</h1>

			<p class="lead">
				In my free time, I explore new technologies,
				stay updated on tech industry developments, and participate in coding challenges.
			</p>

		</div>
	</div> <!-- /section-intro-->

	<div class="row resume-timeline">

		<div class="col-twelve resume-header">

			<h2>Recent Work Experience</h2>

		</div> <!-- /resume-header -->

		<div class="col-twelve">

			<div class="timeline-wrap">

				<div class="timeline-block">

					<div class="timeline-ico">
						<i class="fa fa-graduation-cap"></i>
					</div>

					<div class="timeline-header">
						<h3>ASP.NET MVC Developer</h3>
						<p>November 11, 2023 - Present</p>
					</div>

					<div class="timeline-content">
						<h4>Personal Portfolio Website</h4>
						<p>
							I designed a personal portfolio website for myself and it felt great and I continue to work more.
						</p>
					</div>

				</div> <!-- /timeline-block -->

				<div class="timeline-block">

					<div class="timeline-ico">
						<i class="fa fa-graduation-cap"></i>
					</div>

					<div class="timeline-header">
						<h3>C# Programming Developer</h3>
						<p>November 01, 2023 - Present</p>
					</div>

					<div class="timeline-content">
						<h4>LINQ Expert</h4>
						<p>
							I used LINQ for data manipulation and analysis leading to more efficient and maintainable code.
						</p>
					</div>

				</div> <!-- /timeline-block -->

				<div class="timeline-block">

					<div class="timeline-ico">
						<i class="fa fa-graduation-cap"></i>
					</div>

					<div class="timeline-header">
						<h3>Unit Testing Professional</h3>
						<p>October 23, 2023 - Present</p>
					</div>

					<div class="timeline-content">
						<h4>Payroll Management Unit Test</h4>
						<p>
							I acquired knowledge in writing unit tests using frameworks such as NUnit or xUnit to ensure code quality and maintainability.
						</p>
					</div>

				</div> <!-- /timeline-block -->

				<div class="timeline-block">

					<div class="timeline-ico">
						<i class="fa fa-graduation-cap"></i>
					</div>

					<div class="timeline-header">
						<h3>Object Oriented Developer</h3>
						<p>October 15, 2023 - Present</p>
					</div>

					<div class="timeline-content">
						<h4>OOP Developer</h4>
						<p>
							I used the principle of OOP to design a Simple Payroll Management system.
						</p>
					</div>

				</div> <!-- /timeline-block -->


			</div> <!-- /timeline-wrap -->

		</div> <!-- /col-twelve -->

	</div> <!-- /resume-timeline -->

	<div class="row resume-timeline">

		<div class="col-twelve resume-header">

			<h2>Education</h2>

		</div> <!-- /resume-header -->

		<div class="col-twelve">

			<div class="timeline-wrap">

				<div class="timeline-block">

					<div class="timeline-ico">
						<i class="fa fa-briefcase"></i>
					</div>

					<div class="timeline-header">
						<h3>Bachelor Degree</h3>
						<p>July 2015 - 2021</p>
					</div>

					<div class="timeline-content">
						<h4>University of Technology, Akure</h4>
						<p>
							Studied Mining Engineering and graduated as a top 1% in the department.
						</p>
					</div>

				</div> <!-- /timeline-block -->

				<div class="timeline-block">

					<div class="timeline-ico">
						<i class="fa fa-briefcase"></i>
					</div>

					<div class="timeline-header">
						<h3>Secondary Degree</h3>
						<p>July 2007 - June 2015</p>
					</div>

					<div class="timeline-content">
						<h4>Baptist Grammar School</h4>
						<p>
							Served as the in a Leadership position both academically and in extra-curricular activities
						</p>
					</div>

				</div> <!-- /timeline-block -->

			</div> <!-- /timeline-wrap -->

		</div> <!-- /col-twelve -->

	</div> <!-- /resume-timeline -->

</section> <!-- /features -->
<!-- Style Demo
================================================== -->
